.place__paragraph {
  margin: 30px 0 0;
  font-family: 'Arial',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: black;
  max-width: calc(100% - 200px);
  
}

.place__paragraph:first-of-type{
  margin: 0;
}
.place__paragraph:last-of-type{
  margin-bottom: 48px;
}

@media screen and (max-width:1280px) {
  .place__paragraph {
    max-width: calc(100% - 100px);
    
  }
  .place__paragraph:last-of-type{
    margin-bottom: 60px;
  }
}

@media screen and (max-width:1165px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 20px;
    
  }
}
  @media screen and (max-width:1085px) {
    .place__paragraph {
      font-size: 16px;
      line-height: 18px;      
    }
  }

@media screen and (max-width:1005px) {
  .place__paragraph {
    max-width: calc(100% - 50px);
    margin: 15px 0 0;
  }
  .place__paragraph:last-of-type{
    margin-bottom: 15px;
  }
}
@media screen and (max-width:865px) {
  .place__paragraph {
    font-size: 14px;
    line-height: 16px; 
  }
}
@media screen and (max-width:710px) {
  .place__paragraph {
    max-width: calc(100% - 50px);
    font-size: 16px;
    line-height: 18px;
  }
  .place__paragraph:last-of-type{
    margin-bottom: 35px;
  }
}