.place__title {
  margin: 65px 0 auto;
  font-family: 'Arial',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  color: black;
  
}

@media screen and (max-width:1024px) {
  .place__title {    
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (max-width:768px) {
  .place__title {    
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}