@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

@import url('../blocks/page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__list-link/header__list-link.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__link-text/header__link-text.css');

@import url('../blocks/intro/intro.css');
@import url('../blocks/intro/__text-column/intro__text-column.css');
@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/intro/__subtitle/intro__subtitle.css');
@import url('../blocks/intro/__pic/intro__pic.css');
@import url('../blocks/intro/__illustration/intro__illustration.css');

@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__text-content/place__text-content.css');
@import url('../blocks/place/__title/place__title.css');
@import url('../blocks/place/__paragraph/place__paragraph.css');
@import url('../blocks/place/__pic/place__pic.css');
@import url('../blocks/place/__image/place__image.css');
@import url('../blocks/place/__image/_grid/place__image_grid.css');
@import url('../blocks/place/__text-content/_grid/place__text-content_grid.css');

@import url('../blocks/people/people.css');
@import url('../blocks/people/__title/people__title.css');
@import url('../blocks/people/__subtitle/people__subtitle.css');
@import url('../blocks/table/table.css');
@import url('../blocks/table/__cell/table__cell.css');
@import url('../blocks/table/__heading/table__heading.css');
@import url('../blocks/table/__text/table__text.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
