.place {
  margin: 0;
  display:grid;
  background: #f2f2f2;
  grid-template-columns: repeat(2, 640px);
  grid-template-rows: repeat(3, 540px);
  }

@media screen and (max-width:1280px) {
  .place {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
  }
}

@media screen and (max-width:768px) {
  .place {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, auto);
  }
}
