.intro__title {
  margin: 30px 0 0;
  max-width: 500px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: black;
}

@media screen and (max-width: 1080px) {
  .intro__title {
    max-width: 400px;
  }
}

@media screen and (max-width: 960px) {
  .intro__title {
    max-width: 350px;
  }
}
